<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>专题内容</title>
	<link rel = "import" href = "./common/head.html"/> 
	</head>
	<body ng-app = "myApp" ng-controller="siteCtrl">	
      		
    	<ul id="nav"> 
		    <li><a href="index.html">修改分类以及分类商品</a></li> 
		    <li><a href="link.html">主题信息</a></li>
		    <li><a href="opinion.html">我想说</a></li> 
		    <li><a href="orderok.html">已支付订单</a></li> 
		    <li><a href="upload.html">我要上传</a></li>
		</ul> 
		
		<div>
		
			<div style="margin-top:20px;">
				<div style="margin-left:30px;">
					<table>
					   <tr>
					    <th>主题名称</th>
					    <th>图片地址</th>
					    <th>查看当前主题信息</th>
					    <th>删除该类别</th>
					  </tr>
					  <tr ng-repeat="x in names">
					    <td>{{ x.tag }}</td>
					    <td><a href="{{ x.url }}" target="blank"/>去预览</a></td>
					    <td>
					    	<button ng-click='transferTo(x.objectId)'>进入商品分类信息界面</button>
					    </td>
					    <td><button ng-click='deletelink(x.objectId)' align=center >删除</button></td>
					  </tr>
					</table>
				</div>
				
				<br>
				
				<div style="margin-left:30px;margin-top:100px">
				<hr>
					分类名称： <input type="text" ng-model="name" id="name"> <br><br>
		  			图片地址： <input type="text" ng-model="pic" id="value"><br><br>
		  			公众号链接： <input type="text" ng-model="link" id="value"><br><br>
		  			
					<button ng-click='saveLink()' align=center >添加种类</button><br>
				</div>
			</div>
		</div>
	</div>
	
<script>
	var app = angular.module('myApp', []);
	app.controller('siteCtrl', function($scope, $http) {
		
		$http({
			method: 'GET',
			url: '/link/getAll'
		}).then(function successCallback(response) {
				$scope.names = response.data;
				$scope.message = "Hello, Spring-boot & MongoDB"
			}, function errorCallback(response) {
				$scope.message = "ERROR: 404 NOT FOUND!"
		});
		$scope.sequence = ["ASC","DESC"];
		$scope.deletelink = function(id){
			$http.post("/link/delete/?id="+id)
			  		.then(function (response) {alert("删除成功");});
			location.reload()
		};
		
		$scope.transferTo = function(id){
			location.href="theme.html?id=" + id;
		};
		$scope.saveLink = function(){
		  	
			$http.post("/link/add/?name="+$scope.name+"&pic="+$scope.pic+"&link2="+$scope.link)
		  		.then(function (response) {
		  			
		  			alert("成功添加")
		  			location.reload()
		  		});
	  	};
		
	});
</script>
	</body>
</html>
